@page "{id?}"
@model PhotoSharingApplication.Web.RazorPages.Pages.Photos.DetailsModel
@{
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">@Html.DisplayFor(model => model.Photo.Title)</h5>
            </div>
            <div class="card-body">
                <img class="card-img" src="/photos/getimage/@Model.Photo.Id" />
                <p class="card-text">@Html.DisplayFor(model => model.Photo.Description)</p>
                <p class="card-text">Uploaded on @Html.DisplayFor(model => model.Photo.DateUploaded)</p>
            </div>
            <div class="card-footer">
                <a asp-action="Edit" asp-route-id="@Model.Photo.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Delete" asp-route-id="@Model.Photo.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<a asp-page="AllPhotos">All Photos</a>